@charset "utf-8";
.topBox {
	width: 1024px;
	height: 81px;
	background-image: url(../img/topP.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b3;
	padding-top: 12px;
}
#sh1 {
	background-image: url(../img/shBg.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 180px;
	border: 0px solid #FFF;
	line-height: 50px;
	float: left;
	font-family: "Arial Unicode MS";
	font-size: 16px;
	color: #1469aa;
}
.fdj {
	width: 62px;
}
.rss {
	height: 29px;
	width: 55px;
}

.login {
	background-color: #f0912b;
	height: 29px;
width: 65px;
	line-height: 29px;
	font-size: 16px;
	color: #FFF;
	background-image: url(../img/ico9.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	display: block;
	padding-left: 30px;
}
.login:hover {
	color: #FFF;
}
.work {
	height: 51px;
	background-color: #1568ac;
	font-size: 16px;
	line-height: 51px;
	text-align: center;
	color: #FFF;
	display: block;
}
.work:hover {
	color: #FFF;
}




/*menu*/
.mainNav {
	float: right;
	width: 720px;
	height: 57px;
}
#header {
	height: 57px;
	float: left;
	z-index: 3;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/navBg.gif);
	width: 720px;

}
.menu li {
	float: left;
	position: relative;
	display: block;
	width: 103px;
	text-align: center;
	padding-right: 1px;
}
.menu li:hover {
	background-image: url(../img/navBg_liBg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width: 103px;
}
.menu li:hover a {
	color: #FFF;
}
.menu a {
	height: 57px;
	line-height: 57px;
	display: block;
	color: #616263;
	text-decoration: none;
	float: left;
	text-align: center;
	width: 103px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	font-size: 16px;
	
}
.subMenu {
	display: none;
	position: absolute;
	top: 54px;
	z-index: 3;
	left: -10px;
	width: 128px;
	background-color: #f1f1f1;
	background-image: url(../img/arr1.png);
	background-repeat: no-repeat;
	background-position: center top;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #1568ac;

}

.subMenu li {
	height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	width: 127px;
}
.subMenu li:hover {
	background-color: #1568AC;
	background-image: none;
	color: #FFF;
}

.home {
	width: 54px;
	height: 57px;
	float: left;
	position: absolute;
}
.menu {
	width: 802px;
}
.menu .subMenu li a {
	height: 35px;
	left: 0px;
	color: #1568AC;
	line-height: 35px;
	width: 127px;
	font-size: 13px;
}
.menu .subMenu li a:hover {
	background-color: #1568AC;
	background-image: none;
	color: #FFF;
}

/*menu-end*/
/*scroll-begin*/
.pic_show_l {
	MARGIN-TOP: 0px;
	FONT-SIZE: 12px;
	WIDTH: 742px;
	ZOOM: 1;
	height: 260px;
	margin-left: 0px;
	background-image: url(../img/scrBg.gif);
	background-repeat: repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c9c6c6;
	padding-bottom: 10px;
	background-color: #EBECED;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #c9c6c6;
	border-left-color: #c9c6c6;
}
.pic_show_l .pcont {
	PADDING-LEFT: 6px;
	OVERFLOW: hidden;
	WIDTH: 684px;
	float: left;
	height: 240px;
	padding-top: 14px;
	padding-bottom: 5px;
}
.pic_show_l .ScrCont {
	MARGIN-LEFT: -5px; WIDTH: 8758px; ZOOM: 1
}
.pic_show_l .leftbotton {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	display: block;
	margin-top: 85px;
}
.pic_show_l .rightbotton {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	margin-top: 85px;
}
.pic_show_l .leftbotton IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.pic_show_l .rightbotton IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.pic_show_l DIV#list1_1 A {
	WIDTH: 170px;
	LINE-HEIGHT: 24px;
	TEXT-ALIGN: center;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	background-color: #FFF;
	padding-bottom: 10px;
	float: left;
}
.pic_show_l DIV#list1_1 ul {
	text-align: left;
	color: #333;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#ISL_Cont_1 #list1_1 ul li {
	display: block;
	line-height: 14px;
	margin-bottom: 5px;
}
.pic_show_l DIV#list2_1 ul {
	text-align: left;
	color: #333;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#ISL_Cont_1 #list2_1 ul li {
	display: block;
	line-height: 14px;
	margin-bottom: 5px;
}

.pic_show_l DIV#list2_1 A {
	WIDTH: 170px;
	LINE-HEIGHT: 24px;
	TEXT-ALIGN: center;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	background-color: #FFF;
	padding-bottom: 10px;
	float: left;
}
.pic_show_l DIV#list1_1 IMG {
	DISPLAY: block; MARGIN: 2px auto 1px; CURSOR: pointer
}
.pic_show_l DIV#list2_1 IMG {
	DISPLAY: block; MARGIN: 2px auto 1px; CURSOR: pointer
}
.pic_show_l #list1_1 {
	FLOAT: left
}
.pic_show_l #list2_1 {
	FLOAT: left
}
.pic_show_l .rightbotton img {
	padding-left: 4px;
}
/*scroll-end*/
.l358 {
	float: left;
	width: 358px;
}
.borderBox1 {
	border: 1px solid #e7e8ec;

}
.bt1 {
	height: 41px;
	width: 360px;
	background-image: url(../img/bt1.gif);
	background-repeat: no-repeat;
	line-height: 41px;
}
.bt8 {
	height: 35px;
	background-image: url(../img/bt7.gif);
	background-repeat: no-repeat;
	line-height: 35px;
}

.bt1 h2 {
	font-size: 18px;
	padding-left: 24px;
	color: #454647;
	float: left;
}
.bt8 h2 {
	font-size: 18px;
	padding-left: 24px;
	color: #1568AC;
	float: left;
}

.more1 {
	float: right;
	padding-top: 11px;
	padding-right: 18px;
}
.more4 {
	float: right;
	padding-top: 7px;
	padding-right: 18px;
}

.more2 {
	float: right;
	padding-top: 15px;
	padding-right 30px;
}

.more1 a {
	display: block;
	height: 16px;
	width: 20px;
	text-align: center;
	padding-top: 4px;
}
.more2 a {
	display: block;
	height: 16px;
	width: 20px;
	text-align: center;
	padding-top: 4px;
}
.more4 a {
	display: block;
	height: 16px;
	width: 20px;
	text-align: center;
	padding-top: 4px;
}


.twBox1 {
	overflow: hidden;
}

.tw1_pic {
	border: 3px solid #dae1e5;
	margin-right: 10px;
	height: 60px;
	width: 88px;
}
.tw1_txt {
	overflow: hidden;
	margin: 0px;

}
.tw1_txt p {
	margin-bottom: 6px;
	color: #41494a;
}
.tw1_txt span {
	color: #f0912b;
}
.list1 {
	padding-top: 20px;
	padding-bottom: 10px;
}
.list1 li {
	line-height: 18px;
	margin-bottom: 10px;
	background-image: url(../img/ico2.png);
	background-repeat: no-repeat;
	background-position: left 7px;
	padding-left: 10px;
}
.list1 li a {
	color: #61686a;
}
.list1 li a:hover {
	text-decoration: underline;
}
.r354 {
	float: right;
	width: 354px;
}
.l754 {
	width: 754px;
	float: left;
}
.l850 {
	float: left;
	width: 850px;
}



.bt2 {
	background-image: url(../img/bt2.gif);
	background-repeat: no-repeat;
	height: 29px;
	padding-left: 20px;
	font-size: 16px;
	color: #FFF;
	padding-top: 2px;
	line-height: 29px;
}
.line1 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #b3b3b3;
}
.lineBg {
	background-image: url(../img/lineBg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.bt3 {
	background-image: url(../img/bt3.gif);
	background-repeat: no-repeat;
	height: 52px;
}
.bt3 h2 {
	line-height: 52px;
	float: left;
	padding-left: 20px;
}
.bt4 {
	background-image: url(../img/bt4.gif);
	background-repeat: no-repeat;
	height: 29px;
	line-height: 29px;
	padding-top: 2px;
	padding-left: 22px;
	font-size: 16px;
	color: #FFF;
}
.ad {
	border: 1px solid #c2cacf;
	margin-top: 9px;
}
.h85 {
	height: 87px;
}
.share {
	text-align: right;
	width: 136px;
	float: right;
	padding-bottom: 10px;
}
.share a {
	padding-left: 10px;
	display: block;
	float: left;
}
.bottom {
	height: 134px;
	background-image: url(../img/botBg.gif);
	background-repeat: repeat-x;
	padding-top: 30px;
}
.botLogo {
	padding-left: 66px;
	padding-top: 71px;
	padding-right: 150px;
}
.links {
	float: left;
	width: 700px;
	padding-top: 12px;
}

.links ul {
	margin-bottom: 8px;
	display: block;
	overflow: hidden;
}

.links ul li {
	float: left;
	width: 95px;
}
.links ul li a {
	color: #1568ac;
}
.links ul li a:visited {
	color: #1568ac;
}

.links ul li a:hover {
	color: #135E9B;
}
.linksBt {
	background-image: url(../img/ico8.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 13px;
}
.infoBot {
	line-height: 79px;
	height: 79px;
	background-image: url(../img/botBg1.gif);
	background-repeat: no-repeat;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #FFF;
}
.infoBot a {
	color: #F5F5F5;
	padding-right: 5px;
	padding-left: 5px;
}
.infoBot a:hover {
	text-decoration: underline;
}

.addBar {
	height: 40px;
	font-size: 16px;
	color: #898686;
	background-image: url(../img/barBg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.addBar span {
	line-height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f0912b;
	height: 39px;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}
.aboutBt {
	width: 100%;
	overflow: hidden;
}

.aboutBt span {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	color: #166ab0;
	background-image: url(../img/ico10.png);
	background-repeat: no-repeat;
	background-position: right center;
	margin-bottom: 8px;
	float: left;
	padding-right: 40px;
}
.grey1, .grey1 a{
	color: #6c6965;
}
.grey1 a:hover {
	text-decoration: underline;
}

.Txt14 {
	font-size: 14px;
}
.line2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e9e9e9;
}
.twBox2 {
	width: 418px;
	float: left;
}
.twBox3 {
	float: left;
	width: 120px;
	margin-right: 4px;
	margin-left: 8px;
}
.twBox3 b {
	color: #565758;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	padding-bottom: 5px;
	display: block;
}
.twBox3 p {
	color: #868a8e;
	margin-bottom: 10px;
}
.txtSty1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #1568ac;
	border-bottom-color: #1568ac;
	display: block;
	float: left;
	color: #1568ac;
}
.txtSty1 a {
	color: #1568ac;
}
.txtSty1:hover,.txtSty1 a:hover {
	color: #0B3659;
	text-decoration: none;
}
.text1 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #eaeaea;
	border-bottom-color: #eaeaea;
	border-left-color: #eaeaea;
	font-size: 14px;
	line-height: 18px;
}
.text2 p {
	margin-bottom: 5px;
}
.text3 {
	line-height: 33px;
	height: 33px;
	background-image: url(../img/txtBg1.png);
	background-repeat: repeat-y;
	background-position: left top;
	display: block;
	position: absolute;
	width: 99%;
	top: 197px;
	padding-left: 10px;
	color: #FFF;
	left: 0px;
	font-size: 20px;
}


.greyBg1 {
	background-color: #fafafa;
}
.imgSty1 {
	padding-bottom: 10px;
	display: block;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.blue1 {
	color: #1568ac;
}
.bt5 h2 {
	line-height: 31px;
	height: 31px;
	background-color: #7ECCFE;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}
.arr2 {
	display: block;
	width: 15px;
	margin-right: auto;
	margin-left: auto;
}
.rel {
	position: relative;
}
.tabBox {
	background-image: url(../img/tabBg.gif);
	background-repeat: repeat-x;
	padding: 15px;
	background-color: #F5F5F5;
}
.tabBox2 {
	background-image: url(../img/tabBg.gif);
	background-repeat: repeat-x;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	background-color: #F5F5F5;
}

/*tabs-begin*/
#item {
	width: 754px;
	font-size: 12px;
	background-image: url(images/bgline1.gif);
	background-repeat: repeat-x;
	background-position: 0px 26px;
}
#item2 {
	width: 700px;
	font-size: 12px;
	background-image: url(images/bgline1.gif);
	background-repeat: repeat-x;
	background-position: 0px 26px;
}
#item3 {
	width: 750px;
	font-size: 12px;
	background-image: url(images/bgline1.gif);
	background-repeat: repeat-x;
	background-position: 0px 26px;
}
#item4 {
	width: 720px;
	font-size: 12px;
	background-image: url(images/bgline1.gif);
	background-repeat: repeat-x;
	background-position: 0px 26px;
}
#item ul,#item2 ul,#item4 ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#item #tabBar{
	height: 59px;
	background-image: url(../img/tabBg2.png);
	background-repeat: no-repeat;
	width: 910px;
}
#item2 #tabBar2{
	height: 59px;
	background-image: url(../img/tabBg1.png);
	background-repeat: no-repeat;
	width: 700px;
}
#item3 #tabBar3 {
	height: 59px;
	background-image: url(../img/tabBg3.png);
	background-repeat: no-repeat;
	width: 750px;
}
#item4 #tabBar4{
	height: 59px;
	background-image: url(../img/tabBg4.png);
	background-repeat: no-repeat;
	width: 720px;
}
#tabBar li{
	float: left;
	line-height: 59px;
	width: 188px;
}
#tabBar2 li{
	float: left;
	line-height: 59px;
	width: 233px;
}
#tabBar3 li{
	float: left;
	line-height: 59px;
	width: 375px;
}
#tabBar4 li{
	float: left;
	line-height: 59px;
	width: 180px;
}
#item div,#item2 div{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #cecece;
	border-bottom-color: #cecece;
	border-left-color: #cecece;
	display: none;
	background-image: url(../img/tabBg1.gif);
	background-repeat: repeat-x;
	padding-top: 15px;
	background-color: #F5F5F5;
	background-position: left top;
	min-height: 480px;
	padding-bottom: 20px;
}
#item3 div{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #cecece;
	border-bottom-color: #cecece;
	border-left-color: #cecece;
	display: none;
	background-image: url(../img/tabBg1.gif);
	background-repeat: repeat-x;
	padding-top: 15px;
	background-color: #F5F5F5;
	background-position: left top;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 480px;
	padding-bottom: 20px;
	border-top-width: 0px;
}
#item4 div{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #cecece;
	border-bottom-color: #cecece;
	border-left-color: #cecece;
	display: none;
	background-image: url(../img/tabBg1.gif);
	background-repeat: repeat-x;
	padding-top: 15px;
	background-color: #F5F5F5;
	background-position: left top;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 480px;
	padding-bottom: 20px;
	border-top-width: 0px;
}
#item .show,#item2 .show,#item3 .show,#item4 .show{
	display: block;
}
#tabBar a,#tabBar2 a,#tabBar3 a,#tabBar4 a {
	background-image: url(images/rightc.gif);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	color: #5f6265;
	text-decoration: none;
	position: relative;
	text-align: center;
	font-size: 20px;
}
#tabBar a span,#tabBar2 a span,#tabBar3 a span,#tabBar4 a span {
	background-image: url(images/leftc.gif);
	background-repeat: no-repeat;
	display: block;
}

#item div a,#item2 div a,#item3 div a,#item4 div a {
	line-height: 20px;
	color: #76777b;
	text-decoration: none;
}
#item div a:hover,#item2 div a:hover,#item4 div a:hover {
	color: #76777b;
}
#item3 div a:hover {
	color: #1568AC;
	text-decoration: underline;
}

#item div li,#item2 div li,#item4 div li {
	background-image: url(images/square.gif);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 10px;
}
#tabBar a.current,#tabBar2 a.current,#tabBar3 a.current,#tabBar4 a.current  {
	color: #1568ac;
	background-image: url(../img/arr3.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.twBox4 {
	float: left;
	position: relative;
	background-color: #7eccfe;
	color: #FFF;
	margin-bottom: 20px;
	width: 214px;
	border: 1px solid #BFBFBF;
}
.twBox4 a {
	color: #FFF;
}

.twBox4 b {
	font-weight: normal;
	margin-bottom: 5px;
	display: block;
}

#item .twBox4 a,#item2 .twBox4 a {
	color: #FFF;
	line-height: 16px;
}
#item2 .twBox4 a:hover,#item .twBox4 a:hover {
	color: #1568AC;
}
#page1 {
	float: left;
	text-align: center;
	width: 100%;
	color: #616265;
}
#page1 a:link {
	color: #76777b;
}
#page1 a:visited {
	color: #76777b;
}

#page1 a:hover {
	text-decoration: underline;
	color: #76777b;
}


#page1 td {
	padding-right: 5px;
	padding-left: 5px;
}
/*tabs-end*/
.twBox4 span {
	float: left;
}
.twBox4 i {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.twBox5 {
	background-image: url(../img/twBg.gif);
	background-repeat: repeat-x;
	padding-top: 25px;
	padding-bottom: 25px;
	overflow: hidden;
	background-color: #d5d5d5;
}
.twBox7 {
	background-image: url(../img/twBg.gif);
	background-repeat: repeat-x;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 754px;
	background-color: #D5D5D5;
}

.twCont5  {
	width: 300px;
	float: left;
	padding-left: 40px;
}
.twCont7 {
	float: left;
}

.twCont5 h2 {
	font-size: 26px;
	font-weight: bold;
	color: #1568ac;
}
.twCont7 h2 {
	font-size: 26px;
	font-weight: bold;
	color: #1568ac;
}





.bt6 {
	font-size: 20px;
	color: #545b5c;
}
.yellow, .yellow a {
	color: #f0912b;
}
.lineH16 {
	line-height: 22px;
}
.line3 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #8e8d8d;
}
.bt7 {
	line-height: 35px;
	background-image: url(../img/bt5.gif);
	background-repeat: no-repeat;
	height: 35px;
	padding-left: 22px;
	font-size: 20px;
	color: #1568ac;
}
.twCont6 {
	width: 350px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #bbbbbb;
	padding-right: 30px;
	padding-left: 30px;
}
.list2 {
	padding-left: 30px;
	padding-right: 15px;
}

.list2 li {
	background-image: url(../img/ico12.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 8px;
}

.arr4 {
	margin-top: 40px;
	margin-left: 40px;
}
.imgSty2 {
	border: 3px solid #dae1e5;
}
.imgSty3 {
	border: 6px solid #fff;
}
.blue2 {
	color: #7eccfe;
}
.blueBg {
	background-color: #1568ac;
}

.form1 {
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 11px;
}
.form1 input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #959595;
}

.sel1 {
	height: 32px;
	width: 149px;
	border: 1px solid #FFF;
	line-height: 32px;
	font-family: Arial, Helvetica, sans-serif;
	color: #959595;
	font-size: 14px;
}
.sel2 {
	height: 36px;
	width: 149px;
	border: 1px solid #FFF;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	color: #959595;
	font-size: 14px;
}
#sh3 {
	float: left;
	width: 255px;
	height: 36px;
	border: 1px solid #7ECCFE;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	color: #959595;
	font-size: 14px;
}
#sh2 {
	float: left;
	width: 147px;
	height: 36px;
	border: 1px solid #7ECCFE;
	line-height: 36px;
}




.line4 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #7ECCFE;
}

a,area {blr:expression(this.onFocus=this.blur()) } 
:focus {outline-style: none; } 

/*11.6*/
.l_menu {
	float: left;
	width: 220px;
	margin-right: 10px;
}
.l_menu a {
	display: block;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}

.l_menu h2 {
	line-height: 38px;
	height: 38px;
	background-image: url(../img/L_tabBg.png);
	margin-top: 5px;
	margin-bottom: 5px;
}
.l_menu h2 a {
	color: #FFF;
}


.l_menu h3 {
	line-height: 39px;
	height: 39px;
	background-color: #faf8f8;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #8e8d8d;
}
.Bg1{
	background-image: url(../img/tabBg.gif);
	background-repeat: repeat-x;
}
.l_menu_cont2 {
	width: 738px;
	float: right;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 50px;
	border: 1px solid #cecece;
}
.l_menu_cont {
	width: 770px;
	float: right;
	padding: 10px;
}

.l_menu_cur a {
	color: #1568AC;
	font-weight: bold;
}

.tabCont3 h1 {
	font-size: 20px;
	color: #1568ac;
}
.tabCont3 h2 {
	line-height: 40px;
	background-image: url(../img/h2Bg.gif);
	height: 40px;
	display: block;
	padding-left: 100px;
	background-repeat: no-repeat;
	font-size: 16px;
	color: #1568AC;
}

.tabCont3 {
	font-size: 14px;
}
.tabCont3 ul {
	padding-left: 10px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
}


.tabCont3 ul li {
	margin-bottom: 5px;
	background-image: url(../img/ico13.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-left: 15px;
}
.tabCont3 ul li a:hover {
	color: #1568AC;
}
.arr3 {
	background-image: url(../img/ico14.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.table-bt {
	margin-right: 10px;
	background-color: #7ECCFE;
}
.table1 td table tr {
	background-color: #faf8f8;
	font-size: 14px;
	color: #61686a;
	line-height: 22px;
}
.table1 .arr3 table tr td {
	color: #FFF;
	font-size: 20px;
}
.table1 table .pad3 {padding-bottom:15px; padding-top:15px; padding-bottom:15px;}
.mb4 {
	margin-bottom: 4px;
}
.focusPic {
	height: 228px;
	background-image: url(../img/fBg.gif);
	background-repeat: repeat-x;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 25px;
	padding-left: 55px;
}
.focusPic a {
	margin-right: 7px;
	margin-left: 5px;
	display: block;
	float: left;
	height: 80px;
	width: 74px;
}

.imgSty4 {
	border: 10px solid #FFF;
}
.imgSty5 {
	border: 2px solid #FFF;
}
.bt9 {
	line-height: 40px;
	height: 40px;
	background-image: url(../img/bt9.gif);
	background-repeat: repeat-x;
	background-position: left center;
}

.bt9 h2 {
	background-image: url(../img/bt8.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
}
.bt9 h2 b {
	background-color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	color: #6c6965;
	font-size: 18px;
}
.text4 {
	line-height: 24px;
	font-size: 14px;
	color: #61686a;
}
.text4 p {
	margin-bottom: 10px;
}
.form2 {
	line-height: 46px;
	height: 40px;
	border: 1px solid #bcbdbd;
	background-color: #efefef;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	float: left;
	width: 991px;
}
.table2 table {
	background-color: #efefef;
}

.arr5 {
	background-image: url(../img/arr5.png);
	background-repeat: no-repeat;
	background-position: center 59px;
}
.imgSty6 {
	border: 4px solid #FFF;
}
.text5 {
	line-height: 30px;
	height: 30px;
	width: 260px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
.table2 {
	width: 942px;
}
.table2_bt {
	background-image: url(../img/table2_bt.png);
	background-repeat: no-repeat;
	height: 47px;
}
.table2_bt span {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #FFF;
	float: left;
}
.table2_cont span {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #FFF;
	float: left;
}
.table2_cont {
	height: 240px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	background-image: url(../img/table2Bg.png);
	background-repeat: repeat-y;
	background-position: left top;
}
.twCont8 {
	width: 260px;
	margin-right: 19px;
	margin-left: 19px;
}
.greyBg2 {
	background-color: #bfbfbf;
}
.l820 {
	float: left;
	width: 760px;
}
.plr20 {
	padding-right: 20px;
	padding-left: 20px;
}
.bt10 {
	background-image: url(../img/bt10.gif);
	background-repeat: no-repeat;
	line-height: 35px;
	height: 35px;
}
.bt10 h2 {
	float: left;
	padding-left: 23px;
	color: #1568ac;
	font-size: 20px;
}
.more3 a {
	height: 17px;
	width: 20px;
	display: block;
	text-align: center;
	padding-top: 3px;
	margin-top: 7px;
	margin-right: 10px;
}
.greyBg3 {
	background-color: #efefef;
}

.pl50 {
	padding-left: 50px;
}
.bt11 {
	line-height: 30px;
	height: 30px;
	background-color: #e5e5e5;
	padding-left: 15px;
	font-size: 14px;
}
/*11.10*/
.h240 {
	height: 240px;
}
#page1 .page_current{
	color: #4CA5DD;
}
.pdBox {
	border: 8px solid #d2d2d2;
	background-image: url(../img/passBg.gif);
	background-repeat: repeat;
}
.pdBox h2 {
	font-size: 24px;
	color: #1568ac;
	text-align: center;
}
.pt30 {
	padding-top: 30px;
}
#password {
	height: 38px;
	width: 358px;
	border: 1px solid #7eccfe;
}
.contBtn a {
	height: 40px;
	background-color: #7eccfe;
	line-height: 40px;
	font-size: 18px;
	color: #FFF;
	width: 170px;
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.contBtn a:hover {
	color: #1568AC;
	text-decoration: none;
}

.contBtn2 a {
	height: 40px;
	background-color: #7eccfe;
	line-height: 40px;
	font-size: 18px;
	color: #FFF;
	width: 170px;
	display: block;
	text-align: center;
}
.contBtn2 a:hover {
	color: #1568AC;
}


.welBox {
	height: 150px;
	width: 384px;
	border: 1px solid #7eccfe;
	font-size: 16px;
	padding-top: 40px;
	padding-right: 36px;
	padding-bottom: 40px;
	padding-left: 36px;
}
.Txt38,.pdBox .Txt38 {
	font-size: 38px;
}

.l720 {
	float: left;
	width: 720px;
}
.inputSty1 {
	height: 30px;
	width: 190px;
	float: left;
	border: 1px solid #d2d2d2;
	line-height: 30px;
}
.inputSty2 {
	height: 30px;
	width: 330px;
	float: left;
	border: 1px solid #d2d2d2;
	line-height: 30px;
}

.btn1 {
	height: 34px;
	width: 95px;
	float: left;
	line-height: 34px;
	text-align: center;
	background-color: #a8a8a8;
	color: #FFF;
	font-size: 14px;
	display: block;
}
.btn2 {
	height: 34px;
	width: 140px;
	float: left;
	line-height: 34px;
	text-align: center;
	background-color: #a8a8a8;
	color: #FFF;
	font-size: 14px;
	display: block;
}

.mb25 {
	margin-bottom: 25px;
}
.textCont {
	width: 195px;
	border: 1px solid #CCC;
	padding: 10px;
}
.arr6 {
	background-image: url(../img/ico15.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.arr7 {
	background-image: url(../img/ico15.png);
	background-repeat: no-repeat;
	background-position: left 8px;
}

.text6 {
	position: absolute;
	left: 444px;
	top: 105px;
	width: 235px;
}
.text7 {
	position: absolute;
	left: 488px;
	top: 254px;
	width: 235px;
}
.line5 {
	border: 1px solid #CCC;
}
.min_h340 {
	min-height: 340px;
}
.r430 {
	width: 430px;
	float: right;
}
.loginBox {
	padding-top: 70px;
	text-align: center;
	padding-bottom: 80px;
	background-color: #1568AC;
	color: #FFF;
}
#sh4 {
	float: left;
	width: 575px;
	height: 36px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898686;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7ECCFE;
	border-bottom-color: #7ECCFE;
	border-left-color: #7ECCFE;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #1568AC;
}
#sh5 {
	float: left;
	height: 36px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898686;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7ECCFE;
	border-bottom-color: #7ECCFE;
	border-left-color: #7ECCFE;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7ECCFE;
	background-image: url(../img/ren.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #FFF;
	padding-right: 38px;
	width: 328px;
}
#sh6 {
	float: left;
	height: 36px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898686;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7ECCFE;
	border-bottom-color: #7ECCFE;
	border-left-color: #7ECCFE;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7ECCFE;
	background-image: url(../img/key.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #FFF;
	padding-right: 38px;
	width: 328px;
}


.btn3 {
	float: left;
	height: 40px;
	width: 125px;
	display: block;
	line-height: 40px;
	text-align: center;
	background-color: #1568AC;
	color: #FFF;
	font-size: 13px;
}
.btn3:hover {
	color: #FFF;
}
.loginBox2 {
	background-color: #1568ac;
	padding-top: 50px;
	padding-right: 64px;
	padding-bottom: 50px;
	padding-left: 64px;
}
.loginBox2 span {
	display: block;
	overflow: hidden;
	margin-bottom: 22px;
}
.white, .white a {
	color: #FFF;
}
.text8 p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
	color: #61686a;
}
.tableBox {
	padding: 10px;
	float: left;
	height: 220px;
}
.contBox {
	height: 220px;
	line-height: 20px;
	font-size: 16px;
}

.w290 {
	width: 290px;
}
.w125 {
	width: 125px;
}
.w162 {
	width: 162px;
}
.mr30 {
	margin-right: 30px;
}
.bt12 {
	line-height: 33px;
	height: 34px;
	background-image: url(../img/bt11.gif);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 35px;
	font-size: 20px;
	color: #1568AC;
}
.scroll {
	background-color: #f8f8f8;
	border: 1px solid #e4e4e4;
}
.bt13 {
	line-height: 30px;
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
	color: #434343;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e4e4;
}
.box_2 .con {
	overflow: hidden;
	height: 284px;
}

/*scroll-begin*/
.box_2 .con .list{ width:300px;}
.box_2 .con .list .newsList,.box_3 .con_l .newsList{ padding:10px 0; border-top:1px solid #9a9a9a;}
.box_2 .con_l,.box_3 .con_l{
	width: 744px;
	padding-right: 0px;
	float: left;
	zoom: 1;
}
.box_2 .con_l .title h4{ width:70px;}
.box_2 .con_l .listImg a{color:#545454; line-height:30px;}
.box_2 .con_l .imgList .btn{
	width: 23px;
	float: left;
	background: url(images/icon.png) no-repeat -283px -261px;
	display: block;
}
.box_2 .con_l .imgList .btn:hover{ background-position:-299px -261px;}
.box_2 .con_l .imgList .btn em{
	width: 23px;
	height: 45px;
	margin-top: 53px;
	font-size: 0px;
	line-height: 0px;
	background-image: url(../img/l_arr.gif);
	background-repeat: no-repeat;
	display: block;
	margin-right: 10px;
	cursor: pointer;
}
.box_2 .con_l .imgList .next em{
	width: 23px;
	height: 45px;
	display: block;
	margin-top: 53px;
	text-indent: -999999px;
	font-size: 0px;
	line-height: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0px;
	background-image: url(../img/r_arr_4.gif);
	background-repeat: no-repeat;
}
.box_2 .con_l .imgList .imgWrap{
	width: 677px;
	position: relative;
	overflow: hidden;
	_display: inline;
	_zoom: 1;
	clip: rect(auto,10px,auto,10px);
	height: 250px;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 20px;
	float: left;
}
.box_2 .con_l .imgList .imgWrap li{
	float: left;
	width: 100px;
	display: inline;
	margin-right: 40px;
	color: #868a8e;
}
.box_2 .con_l .imgWrap li b {
	color: #565758;
	font-size: 14px;
}

.box_2 .con_l .imgList .imgWrap ul{
	width: 10000px;
	position: absolute;
	left: 0px;
	top: 11px;
}
.box_2 .con_l .imgList li,.box_6 .slide .imgList li{
	float: left;
	overflow: hidden;
}
.box_2 .con_l .imgList ul,.box_6 .slide .imgList ul{ width:400px;}
.box_2 .con_l .imgList {
	overflow: hidden;
	zoom: 1;
	padding-top: 22px;
}
.box_2 .con_l .list_l{ width:150px; float:left;}
.box_2 .con_l .list_l .list{ width:150px;}
.box_2 .con_l .listBox{ overflow:hidden;zoom:1; padding:10px 0;}
.box_2 .con_l .newsList { padding:10px 0 0;}
.box_2 .con_l .newsList li{ font-size:12px;}
.imgWrap ul {
	margin: 0px;
	padding: 0px;
}
.twBox8 {
	width: 220px;
	float: left;
}
.text2 h2 {
	color: #1568ac;
	font-size: 13px;
	margin-bottom: 10px;
}
.l744 {
	float: left;
	width: 744px;
}
.imgSty7{ border:3px solid #dae1e5;}.twBox9 {
	line-height: 20px;
}
.twBox9 h2 {
	color: #545b5c;
	margin-bottom: 5px;
}
.l734 {
	width: 734px;
	float: left;
}
.w194 {
	width: 194px;
}
.w500 {
	width: 500px;
}
.w600 {
	width: 600px;
}

.w512 {
	width: 512px;
}
.pl25 {
	padding-left: 25px;
}
.pb50 {
	padding-bottom: 50px;
}
.pt40 {
	padding-top: 40px;
}
.pl15 {
	padding-left: 15px;
}
.pl40 {
	padding-left: 40px;
}
.greyBorder {
	border: 1px solid #d7e0e9;
}
.w620 {
	width: 620px;
}



.bt10-2010715 {
	background-image: url(../img/bt11.gif);
	background-repeat: no-repeat;
	line-height: 35px;
	height: 35px;
}
.bt10-2010715 h2 {
	float: left;
	padding-left: 23px;
	color: #1568ac;
	font-size: 20px;
}
/*20141028*/
.formlist,.selectbox{overflow:hidden;width:1005px;margin:0 auto;}
.formlist dt,.formlist dd{letter-spacing:-3em;font-size:0;width:105%;}
.formlist dt{line-height:40px;font-size:14px;background:#1568ac;color:#fff;}
.formlist dd{font-size:12px;background:#e9e9e9;color:#4d5456;}
.formlist dt span,.formlist dd span{border-bottom:1px solid #fff;border-right:1px solid #fff;text-align:center;display:inline-block;vertical-align:top;letter-spacing:normal;}
.formlist dd span{line-height:20px;padding:7px 0;}
.wrapout{border:1px solid #e7e8ec;padding:15px 0;background:#fafafa;margin-top:15px;overflow:hidden;}
.spanwrap{padding:0 25px;color:#0d0d0d;font-size:14px;}.spanwrap b{color:#2773c9;}
.guide-title{height:34px;line-height:34px;background:url(../img/guidelnebg.gif) repeat-x;position:relative;}
.guide-title span{position:absolute;height:34px;width:16px;font-size:0;line-height:0;background:url(../img/corners.gif) no-repeat;top:0;}
.glft{left:0;}
.guide-title span.grgt{right:0;background-position:100% 0;}.guide-title b{padding-left:24px;color:#1568ac;font-size:17px;}.mart15{margin-top:15px;}.marb35{margin-bottom:35px;}
.bgwhite{background:#fff;}.aligncenter{text-align:center;}.selectbox select{float:left;width:200px;margin:10px 30px 6px 0;}.selectbox{padding:0 0 25px;}.searchbox{float:left;margin-top:11px;}.subMenu02,.subMenu02 li,.menu .subMenu02 li a{width:188px;}.subMenu02{left:-40px;}
.spanwrap span{vertical-align:top;line-height:30px;}
#clickbox{cursor:pointer;}#clickbox img{display:inline-block;margin:0 0 0 10px;}
.flexbox{width:377px;height:243px;background:url(../img/flexbg.jpg) no-repeat;overflow:hidden;}
.flexins{overflow:hidden;width:320px;padding-top:40px;clear:both;}
.flexins label{clear:both;display:block;width:100%;margin-top:10px;}
.flexins label span,.flexins label input{display:inline-block;vertical-align:top;}
.flexins label span{width:82px;color:#0474af;font-size:16px;line-height:26px;}
.flexins label input{height:24px;line-height:24px;border:1px solid #bad3e0;width:219px;padding:0 5px;}
.flexins div{float:left;margin:26px 0 0 70px;display:inline;width:;}.flexins div a{float:left;display:inline;margin-left:12px;}
.close{float:right;margin:10px 10px 0 0;cursor:pointer;}
.flexbg{display:none;background:url(../img/coverbg.png);position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999;}
.flexbg2{display:none;background:url(../img/coverbg.png);position:absolute;top:0;left:0;width:100%;height:100%;z-index:99999;}
.flexbox{margin-top:280px;}.disblock{display:block;}
.choujiang{margin-top:100px;width:594px; background:url(../img/jiangbg.gif)  ;padding-bottom:25px;}
.choujiang .choujiang_head{width:594px; height:117px ;background:url(../img/choujiangtop.gif) top no-repeat ;}
.cjins{background:#f2f2f2;padding:52px 0 38px;}
.jpbox{width:331px;padding-bottom:20px;text-align:center;background:url(../img/jiangbg02.gif);border:1px solid #e2e2e2;}
.jpbox span img{display:inline-block;vertical-align:top;padding:20px 0 0 25px;}.jpbox h4{color:#fff;font-size:14px;font-family:Microsoft YaHei;font-weight:bold;margin-top:-15px;}
.jpboxnobg{border:none;background:none;}
.jpboxnobg span img{padding:0;}
.jpboxnobg h4{margin-top:40px;font-size:19px;line-height:23px;font-family:Microsoft YaHei;color:#683209;text-align:center;font-weight:normal;}
.jptip{font-size:19px;line-height:23px;font-family:Microsoft YaHei;color:#683209;text-align:center;margin-top:34px;}
.lnebox{height:2px;background:url(../img/lnebg.gif) repeat-x;font-size:0;line-height:0;width:564px;margin-top:50px;}
.lneboxnomar{margin-top:10px;}
.jpbox2{background:#dedede;height:132px;padding-bottom:0;}
.jpbox2 h4{text-align:center;line-height:132px;font-size:28px;font-family:Microsoft YaHei;font-weight:normal;margin:0;color:#616161;}
.buttonbox{text-align:center;margin-top:32px;}
.buttonbox a{cursor:pointer}
.wid330{width:330px;line-height:30px;}
.gotop{position:fixed;right:10px;top:164px;z-index: 9999}
.buttonbox{width:335px;}
.smins,.smtit{margin:0 auto;width:511px;}
.smtit{font-size:21px;font-weight:bold;line-height:22px;color:#683209;text-align:center;font-family:Microsoft YaHei;}
.stit span{display:inline-block;vertical-align:top;width:86px;height:26px;font-size:12px;font-weight:bold;color:#fff;text-align:center;line-height:26px;font-family:Microsoft YaHei;background:url(../img/asktitbg.png) no-repeat;}
.stit{margin-top:10px;}
.smins p{margin-top:10px;font-size:14px;font-family:Microsoft YaHei;color:#683209;line-height:24px;}.smins p span{font-size:16px;}
.smins p.sdesc{text-indent:2em;color:#6c6c6c;}
.smins p.sdesc02{text-indent:2em;color:#683209;}
.slst{margin-top:10px;background:url(../img/iconsbg.gif) no-repeat 0 8px;padding-left:15px;font-size:14px;font-family:Microsoft YaHei;color:#683209;line-height:24px;}
.buttonbox2 a{display:inline-block;vertical-align:bottom;}
.buttonbox2 a.chars{text-decoration:underline;color:#8c8b8b;margin-left:10px;}.scenter{text-align:center;}
.wentibox{width:320px;margin:0 auto;margin-top:10px;}
.wentibox dd{margin-top:3px;font-size:16px;color:#683209;font-family:Microsoft YaHei;}.wentibox dd input,.wentibox dd span{display:inline-block;vertical-align:top;}.wentibox dd span{margin-left:5px;}.wentibox dd input{margin-top:5px;}
.smins p em{font-style:normal;font-size:18px;}.smins p.lh30{line-height:30px;}
.filecont{width:590px;margin:0 auto;}
.filecont dd span,.filecont dd input{line-height:22px;display:inline-block;vertical-align:top;}.filecont dd span{width:150px;text-align:right;font-size:14px;color:#7a7a7a;font-family:Microsoft YaHei;}
.filecont dd em{width:150px;text-align:left;font-size:12px;color:#7a7a7a;font-family:Microsoft YaHei;font-style: normal;margin-left: 10px}
.filecont dd input{width:272px;padding:0 5px;height:22px;border:none;background:#fff;margin-left:5px;font-family:Microsoft YaHei;font-size:12px;}
.filecont dd{margin-top:10px;}
.filecont dd textarea{width:272px;padding:5px;height:40px;margin-left:5px;overflow:hidden;background:#fff;border:none;font-family:Microsoft YaHei;font-size:12px;}
.lneboxnomar2{margin-top:24px;}
.close_button{background:url("../img/close.gif") no-repeat;width:20px;height:20px;cursor: pointer; float:right;}